@charset "UTF-8";

/* ===== 회원가입 제목 ===== */
#signupHeader {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 90px;
}

#signupTitle {
    font-size: 44px;
    font-weight: bold;
    color: var(--color-black);
}

/* ===== 이름 위의 검은 선 ===== */
.black-line {
    height: 2px;
    background-color: var(--color-black);
    /*margin: 0 auto 20px;*/
    width: 100%;
}

/* ===== 전체 컨테이너 ===== */
#signupContainer {
    width: 620px;
    margin: 0 auto;
    background-color: var(--color-white);
    padding: 24px 0;
}

/* ===== 회원가입 폼 ===== */
#signupForm .form-group {
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid var(--border-gray);
    padding: 10px 0;
}

#signupForm .form-group label {
    width: 150px;
    font-size: 18px;
    margin-left: 20px;
    color: var(--color-black);
    text-align: left;
    font-weight: 600;
}

#signupForm .form-group input {
    flex: 1;
    height: 50px;
    line-height:50px;
    border:none;
    padding: 0 10px;
    font-size: 18px;
    background-color: var(--color-light-gray);
    color: var(--color-black);
}

/* ===== 중복확인 버튼이 포함된 입력 필드 ===== */
.input-with-button {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-button input {
    flex: 1;
    padding-right: 120px; /* 버튼과 텍스트 필드 간 간격 확보 */
    height: 50px;
    border:  1px solid var(--border-gray);
    font-size: 16px;
    background-color: var(--color-light-gray);
    color: var(--color-black);
   
}

.input-with-button input::placeholder {
    color: #999;
    font-size: 16px;
}

.btn-inline {
    position: absolute; /* 위치를 텍스트 필드와 독립적으로 설정 */
    top: 50%; /* 텍스트 필드와 동일한 높이 */
    right: 10px; /* 텍스트 필드와 버튼 간 간격 */
    transform: translateY(-50%);
    height: 38px;
    padding: 0 10px;
    background-color: #fff;
    color: #A8A8A8;
    border: 1px solid #A8A8A8;
    border-radius:4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.btn-inline:hover {
    background-color: #f0f0f0;
}

/* ===== 중복확인 결과 표시 ===== */
#checkResult {
	flex: 1;
	padding-left: 170px;
	box-sizing:border-box;
    color: red;
    font-size: 16px;
    text-align: left;
}

/* ===== 가입하기 버튼 ===== */
#signupFooter {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

#signupFooter button {
    width: 200px;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

#signupFooter button:hover {
    background-color: #555;
}
