@charset "UTF-8";


#wrapper{
	width:1390px;
	height:auto;
	margin:20px auto 120px auto;
}

.table-container h2{
	font-size: 20px;
	padding: 20px 0;
}



/* 테이블 스타일 */
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	font-size: 16px;
}

thead {
	border-top: 5px solid #999;
	font-weight: bold;
	height: 60px;
}

th, td {
	height: 54px;
	border-bottom: 1px solid #dcdcdc;
}

th {
	font-weight: 700;
	color: var(--color-black);
	position: relative;
}

th.line::after {
    content: '';
    position: absolute;
    top: 38%;
    right: 0;
    width: 1px;
    height: 16px;
    background-color: var(--border-color-gray); 
}

th.line:last-child{
	background-color:none;
}

tbody td{
	font-weight: 300;
}

tbody td a{
	color:var(--color-black);
}

.title{
	text-align: left;
	padding-left:30px;
}


.line::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--border-color-gray); 
}

.line:last-child::after{
	background-color:var(--color-white);
}


/* 신청 , 삭제 버튼 */
.applybtn-box {
   width:1390px;
    height: 42px;
    margin: 40px auto;
    display: flex; /* 버튼을 가로로 정렬 */
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    gap: 10px; /* 버튼 사이 간격 */
}

.applybtn-box input[type="button"] {
    display: inline-block;
    width: 100px;
    height: 42px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.applybtn-box input[type="button"]:nth-child(1) {
	border:1px solid var(--color-red);
	color:var(--color-red);
	background-color:var(--color-white);
}

.applybtn-box input[type="button"]:nth-child(2) {
	border:1px solid var(--color-black);
	color:var(--color-black);
	background-color:var(--color-white);
}

.applybtn-box input[type="button"]:nth-child(1):hover {
	color:var(--color-white);
	background-color:var(--color-red);
}

.applybtn-box input[type="button"]:nth-child(2):hover {
	color:var(--color-white);
	background-color:var(--color-black);
}




